# Dependencies
/node_modules

# Next.js
/.next/
/out/

# Production
/build

# Env files
.env
.env*.local

# Vercel
.vercel

# Misc
.DS_Store
*.pem
npm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts